body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: black;
}
.container {
  max-width: 1024px;
  margin: auto;
}
.cv__header {
  display: flex;
  padding: 30px;
  background-color: #3b9c9c;
  color: white;
}
.cv__header a {
  color: white;
}
.cv__nav {
  position: sticky;
  top: 0;
  background-color: #3b9c9c;
  border-top: 2px solid white;
}
.nav__menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__itm {
  margin: 0;
  padding: 0;
}
.nav__link {
  display: block;
  color: white;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.nav__link:hover {
  background-color: #66bebe;
}
.cv__photo {
  width: 250px;
  height: 250px;
  float: right;
  object-fit: none;
  object-position: -510px -230px;
  border-radius: 50%;
}
.cv__person-info {
  width: 75%;
  float: left;
}
.cv__code {
  max-height: 500px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 30px;
  background-color: #d3d3d3;
}
.cv__footer{
  display: flex;
  margin-top: 50px;
  padding: 100px 50px 10px 50px;
  justify-content: center;
  background-color: #1c6666;
}
.footer__link{
margin: 30px;
}
.footer__rs-img{
  height: 30px;
}
.footer__gh-img{
  height: 30px;
}
section:target {
  background-color: #ffff00;
}
